<!-- views/main.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Page</title>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="stylesheets/style.css">  
  <link rel="stylesheet" href="stylesheets/main.css">  

</head>
<body>

  <section>
    <!-- 버튼 추가 -->
    <div class="button-wrap ">
      <button class="button workout" onclick="handleButtonClick(1)">운동</button>
      <p>운동</p>
    </div>
    <div class="button-wrap">
      <button class="button book" onclick="handleButtonClick(2)">도서</button>
      <p>도서</p>
    </div>
    <div class="button-wrap">
      <button class="button wine" onclick="handleButtonClick(3)">주류</button>
      <p>주류</p>
    </div>
  </section>

  <footer>
    <p>&copy; 2023 Main Page</p>
  </footer>

  <script>
    // 버튼 클릭 이벤트 핸들러 (예시)
    function handleButtonClick(buttonNumber) {
        var sub;
        if (buttonNumber == 1) sub = "운동"
        else if (buttonNumber == 2) sub = "도서"
        else if (buttonNumber == 3) sub = "주류"
        
        alert(sub + "을 선택하셨어요!");

        // 원하는 동작을 추가할 수 있습니다.
        try {
            window.location.href = "/subjectList?buttonNumber=" + buttonNumber;
        } catch (error) {
            console.error('Error during redirection:', error);
        }
    }

  </script>

</body>
</html>
