@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*end*/
html {
  height: 100%;
  font-size: 16px;
}

body {
  font-family: Pretendard-Regular, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #627663;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 100%;
  max-width: 768px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section form {
  width: 100%;
  padding: 2rem;
  margin: 2.25rem 0;
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

section form label {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
}

h1 {
  color: white;
  font-size: 2.75rem;
  font-weight: 800;
}

section form .input-wrap:not(:last-child) {
  margin-bottom: 2rem;
}

section form .input-wrap input {
  border: none;
  border-bottom: 2.5px solid black;
  width: 100%;
}

section form button {
  border: none;
  border-radius: 9999px;
  padding: 1rem;
  width: 100%;
  background: #7d7373;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
